/*
Maura Sanders
Due Date
Favorite Things
*/

/* The universal selector */

*  {

}

/* Body attributes here */


body  {


background-color: blue

}
#Xiangqi { width: 150px;  height: 100px; }
#Readingonthebeach { width: 150px;  height:  100px}
#Air { width: 150px;  height:  100px}
