/*
Maura Sanders
Due Date
Favorite Things
*/

/* The universal selector */

*  {

}

/* Body attributes here */


body  {


background-color: blue

}
#Xiangqi { width: 150px;  height: 100px; }
#Reading on the beach { width: 150px;  height:  100px}
#Air and Space Museum { width: 150px;  height:  100px}